.header{
    height: 120px;
    background-image: linear-gradient(0 , #f63, #f53d2d);
}

.header__navbar{
    display: flex;
    justify-content: space-between;
}

.header__navbar-list{
    list-style-type: none;
    padding-left: 0; /*mặc định thẻ ul có padding-left->bỏ padding*/
}

.header__navbar-item{
    display: inline-block;
    margin: 0 8px;
    position: relative;
}

.header__navbar-item,
.header__navbar-item-link{
    font-size: 1.4rem;
    color: var(--white-color);
    text-decoration: none;
    font-weight: 300;
}

.header__navbar-item-link--bold{
    font-weight: 400;
}

/* Tạo separate */
.header__navbar-item--separate::after{
    content: "";
    display: block;
    position: absolute;
    border-left: 1px solid #ccc;
    height: 14px;
    right: -9px;;
    top:50%;
    transform: translateY(-50%);
}

/* .header__navbar-item:hover, */
.header__navbar-icon-link:hover,
.header__navbar-item-link:hover{
    color: rgba(255,255,255,0.6);
    cursor: pointer;
}

.header__navbar-icon-link{
    color: var(--white-color);
    text-decoration: none;
    font-size: 1.4rem;
}

/* --Header QR-- */

.header__qr{
    width: 186px;
    background-color: var(--white-color);
    position: absolute;
    left: 0;
    top: 140%;
    padding: 8px;
    border-radius: 2px;
    display: none;
    animation: fadeIn ease 0.8s;
}

.header__qr::before{
    position: absolute;
    content: "";
    display: block;
    width: 186px;
    height:20px;
    left:0;
    top:-12px; 
}

.header__navbar-item--has-qr:hover .header__qr{
    display: block;
}

.header__qr-img{
    width: 100%;
}

.header__qr-apps{
    display: flex;
    justify-content: space-between;
}

.header__qr-app-img{
    height: 15px;
}

.header__qr-link{
    margin-right: 11px;
}

/* NOTIFICATION */

.header__notify{
    width: 404px;
    position: absolute;
    top: 140%;
    right: 0;
    background-color: #fff;
    border-radius: 2px;
    border: solid 1px #D3D3D3;
    display: none;
    transform-origin: calc(100% - 28px) top;
    animation: NotifyGrow ease-in 0.2s;
    will-change: opacity, transform;
}

.header__notify::before{
    content: "";
    border-style: solid;
    border-width: 20px 26px;
    border-color: transparent transparent #fff transparent;
    position: absolute;
    top: -29px;
    right: 16px;
}

.header__notify::after{
    content: "";
    display: block;
    position: absolute;
    height: 20px;
    width: 80px;
    top: -12px;
    right: 0;
}

.header__notify-header{
    height: 40px;
    padding-left: 10px;
    cursor: default;
}

.header__notify-header span{
    color: rgb(184, 183, 183);
    font-weight: 400;
    line-height: 40px;
}

.header__notify-list{
    list-style: none;
    padding-left: 0;
}

.header__notify-item{
    background-color:rgba(238, 75, 43, 0.08);
}

.header__notify-item--viewed{
    background-color: transparent;
}

.header__notify-item:hover{
    background-color: #f7f7f7;
}

.header__notify-link{
    display: flex;
    padding: 12px;
    text-decoration: none;
}

.header__notify-img{
    width: 48px;
    object-fit: contain;
}

.header__notify-info{
    margin-left: 10px;
}

.header__notify-title{
    display: block;
    color: rgb(109, 107, 107);
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 1.8rem;
    margin-bottom: 4px;
}

.header__notify-description{
    display: block;
    color: rgb(175, 172, 172);
    font-weight: 300;
    font-size: 1.3rem;
    line-height: 1.8rem;
}

.header__notify-more{
    display: block;
    width: 100%;
    color: var(--black-color);
    font-weight: 400;
    font-size: 1.4rem;
    text-align: center;
    padding: 8px;
    cursor: pointer;
}

.header__navbar-item-has-notify:hover .header__notify{
    display: block;
}

@keyframes NotifyGrow{
    from{
        opacity: 0;
        transform: scale(0);
    }
    to{
        opacity: 1;
        transform: scale(1);
    }
}

/* FORM ĐĂNG KÝ */
.auth-form{
    border-radius: 4px;
    background-color: var(--white-color);
    overflow: hidden;
}

.auth-form__form{
    width: 450px;
    padding: 0 24px;
}

.auth-form__header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 24px;
    margin-bottom: 26px;
}

.auth-form__heading{
    font-size: 2rem;
    color: var(--text-color);
    font-weight: 500;
}

.auth-form__switch-btn{
    font-size: 1.4rem;
    color: var(--primary-color);
    font-weight: 500;
    cursor: pointer;    
}

.auth-form__input{
    width: 100%;
    height: 40px;
    margin-bottom: 16px;
    border: solid 2px var(--boder-color);
    border-radius: 4px;
    font-size: 1.4rem;
    padding:0 8px;
    font-weight: 500;
    outline: none;
}

.auth-form__input:focus{
    border-color: #888;
}

.auth-form__aside{
    padding: 0 9px;
    text-align: center;
}

.auth-form__policy{
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.6rem;
}

.auth-form__policy a{
    color: var(--primary-color);
    text-decoration: none;
}

.auth-form__control{
    display: flex;
    justify-content: end;
    margin-top: 80px;
    margin-bottom: 20px;
}

.auth-form__control .btn{
    margin-left: 4px;
    text-transform: uppercase;
}

.auth-form__footer{
    background-color: #f5f5f5;
    padding: 14px 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.auth-form__footer-icon{
    font-size: 1.8rem;
}

.auth-form__footer-facebook{
    background-color: #3A5A98;
    color: var(--white-color);
}

.auth-form__footer-facebook
.auth-form__footer-icon{
    color: var(--white-color);
}

.auth-form__footer-google{
    background-color: var(--white-color);
    color: var(--text-color);
}

.auth-form__footer-google
.auth-form__footer-icon{
    color: rgb(230, 100, 14);
}

.auth-form__footer-label{
    margin: 0 26px;
}

/* Login CSS */
.auth-form__help{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.auth-form__help-link{
    text-decoration: none;
    font-size: 1.4rem;
    color: #939393;
}

.auth-form__help-separate{
    display: block;
    border: solid 1px var(--boder-color);
    height: 20px;
    margin: 12px;
}

.auth-form__help-forgot{
    color: var(--primary-color);
}